.judul{
    color: blue;
}
.table1{
    border:1.2px solid red;
    width:30%;
    border-style: dotted;
    border-collapse: collapse;
	border-spacing: 0;
}
.td1{
    border:1.2px solid red;
    max-width:100%;
    white-space:nowrap;
    border-style: dotted;
    text-align: center;
    padding: 10px;
    
}
td{
    border:1.2px  black;
    max-width:100%;
    white-space:nowrap;
    text-align: center;
    padding: 10px;
}
th{
    border:1.2px  solid black;
    width:40%;
    
}
.th1{
    border:1.2px solid red;
    width:40%;
    border-style: dotted;  
}
input[type=text] {
    width: 100%;
    
}
input[type=password ] {
    width: 100%;
    
}
input[type=number] {
    width: 100%;
    
}
.tabelkosong{
    border:1.2px black;
    width:30%;
    border-collapse: collapse;
	border-spacing: 0;
}


